<footer>
    <div class="container">
        <div class="footer__info">Footard text</div>
        <ul class="nav">
            <li><a href="#">Twitter</a></li>
            <li><a href="#" class="last">Dribbble profile</a></li>
        </ul>
    </div>
</footer>
