<header>
    <div class="container">
        <div class="brandLogo">
            <a href="/">Ninjagaming</a>
        </div>
        <nav role="navigation">
            <ul class="nav">
                <li><a href="/">Home</a></li>
                <li><a href="/about" class="last">About</a></li>
            </ul>
        </nav>
    </div>
</header>
