/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.headline-secondary {
  font-family: "Karla", sans-serif; }

strong {
  font-weight: bold; }

.container {
  max-width: 1000px;
  height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px; }

header {
  height: 70px;
  padding: 20px 0; }
  header .brandLogo {
    float: left;
    font-family: "Poppins", sans-serif; }
  @media (min-width: 775px) {
    header .brandLogo {
      font-size: 23px; } }
  header nav {
    float: right; }
  header a {
    color: #22253D;
    text-decoration: none; }

@media (min-width: 775px) {
  header {
    padding: 37px 0;
    height: 100px; } }

footer {
  padding: 20px 0;
  border-top: 1px solid #EAECFA;
  font-family: "Karla", sans-serif;
  text-align: center; }

@media (min-width: 521px) {
  footer {
    padding: 37px 0;
    height: 100px; } }

.footer__info {
  width: 100%;
  margin-bottom: 20px; }

@media (min-width: 521px) {
  .footer__info {
    float: left;
    width: auto; } }

@media (min-width: 521px) {
  footer .nav {
    float: right; } }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: "Crimson Text", serif;
  font-size: 19px;
  line-height: 27px;
  color: #22253D;
  background-color: #fff; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
  font-weight: bold; }

a {
  color: #006dff; }

a:hover {
  text-decoration: none; }

.article {
  max-width: 600px;
  margin-top: 20px;
  margin-bottom: 20px; }

@media (min-width: 775px) {
  .article {
    max-width: 1300px;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 23px;
    line-height: 34px; } }

.block {
  display: block;
  overflow: hidden;
  margin-bottom: 45px; }

.block p:last-of-type {
  margin-bottom: 0; }

@media (min-width: 775px) {
  .block {
    margin-bottom: 70px; } }

.article__intro {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto; }
  .article__intro:first-child:first-letter {
    float: left;
    font-size: 53px;
    line-height: 20px;
    font-weight: bold;
    padding-top: 28px;
    padding-right: 8px; }

@media (min-width: 775px) {
  .article__intro {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 36px;
    -moz-column-gap: 36px;
    column-gap: 36px;
    text-align: justify; }
    .article__intro:first-child:first-letter {
      float: left;
      font-size: 68px;
      line-height: 20px;
      font-weight: bold;
      padding-top: 37px;
      padding-right: 8px; } }

p {
  margin-bottom: 30px; }

@media (min-width: 775px) {
  p {
    margin-bottom: 45px; } }

.article__subheadline {
  margin-bottom: 7px;
  font-size: 21px; }

@media (min-width: 775px) {
  .article__subheadline {
    margin-bottom: 7px;
    font-size: 27px; } }

.article__full {
  width: 100%; }

.article__single {
  max-width: 600px;
  margin: 0 auto; }

@media (min-width: 775px) {
  .article__single {
    max-width: 700px; } }

.article__highlight {
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  font-size: 27px;
  line-height: 37px;
  font-weight: bold; }

@media (min-width: 1029px) {
  .article__highlight {
    font-size: 43px;
    line-height: 54px; } }

.half {
  width: 49%; }
  .half.first {
    float: left; }
  .half.last {
    float: right; }

.one_third {
  float: right;
  width: 32%; }

.two_third {
  float: left;
  width: 65%; }

.col_3 {
  display: flex;
  justify-content: space-between; }
  .col_3 .one_third {
    width: 32%; }

img {
  vertical-align: top;
  border-radius: 2px; }

figcaption {
  font-family: "Karla", sans-serif;
  font-size: 16px;
  color: #9697A2; }

.articleList {
  margin-top: 45px; }
  .articleList a {
    color: #22253D;
    text-decoration: none; }

@media (min-width: 775px) {
  .articleList {
    margin-top: 90px; } }

.articleList__inner {
  display: flex;
  flex-wrap: wrap; }

.articleList__item {
  width: 100%;
  margin-bottom: 50px; }

.articleList__content {
  position: relative;
  margin: 0 auto;
  width: 237px; }

.articleList__badge {
  position: absolute;
  top: -11px;
  right: -11px;
  width: 34px;
  height: 34px;
  -webkit-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  transform: rotate(15deg);
  border-radius: 50%;
  background-color: #EF6464;
  line-height: 34px;
  font-family: "Karla", sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  text-align: center; }

.articleList__thumb-container {
  width: 237px;
  height: 316px;
  border-radius: 2px; }

.articleList__thumb-pokemon {
  background-color: #85B8E2; }

.articleList__thumb-image {
  display: block;
  margin: 0 auto; }

.articleList__headline {
  margin: 18px 0 7px;
  font-size: 18px; }

.articleList__paragraph {
  font-family: "Karla", sans-serif;
  font-size: 16px;
  color: #606482; }

@media (min-width: 521px) {
  .articleList__inner {
    margin: 0 auto;
    width: 511px; }
  .articleList__item {
    width: 237px;
    margin-right: 17px; }
    .articleList__item:nth-child(2n) {
      margin-right: 0; } }

@media (min-width: 775px) {
  .articleList__inner {
    width: 765px; }
  .articleList__item:nth-child(2n) {
    margin-right: 17px; }
  .articleList__item:nth-child(3n) {
    margin-right: 0; } }

@media (min-width: 1029px) {
  .articleList__inner {
    width: 1019px; }
  .articleList__item:nth-child(2n) {
    margin-right: 17px; }
  .articleList__item:nth-child(3n) {
    margin-right: 17px; } }

.hero {
  height: 200px;
  background-color: #22253D;
  text-align: center; }

@media (min-width: 775px) {
  .hero {
    height: 434px; } }

.hero__headline {
  margin-bottom: 10px;
  color: #fff;
  font-size: 23px; }

@media (min-width: 775px) {
  .hero__headline {
    margin-bottom: 25px;
    font-size: 42px; } }

.hero__subheadline {
  font-family: "Karla", sans-serif;
  font-weight: normal;
  color: #606482; }

@media (min-width: 775px) {
  .hero__subheadline {
    font-size: 28px; } }

.nav {
  font-family: "Karla", sans-serif; }
  .nav li {
    display: inline-block; }
  .nav a {
    margin-right: 20px;
    padding: 11px 0;
    color: #22253D;
    text-decoration: none; }
  .nav .last {
    margin: 0; }

.center-block {
  margin-right: 0px;
  margin-left: 0px; }

.vertical-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%); }
