<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head %>
        <title>NG! - About</title>

        <link rel="stylesheet" href="/public/css/main.css">
    </head>
    <body>
        <% include ../partials/header %>

        <div class="container">about page</div>

        <% include ../partials/footer %>
        <% include ../partials/scripts %>
    </body>
</html>
