<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head %>
        <title>NG! - article2</title>

        <link rel="stylesheet" href="/public/css/main.css">
        <link rel="stylesheet" href="/public/css/article2.css">
    </head>

    <body>
        <% include ../partials/header %>

        <div class="container">article 2</div>

        <% include ../partials/footer %>
        <% include ../partials/scripts %>
    </body>
</html>
