<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head %>
        <title>Vinyl</title>

        <link rel="stylesheet" href="/public/css/main.css">
    </head>
    <body>
        <div class="player__container">
            <div class="player">
                <img src="/public/images/player_table.png" class="player__table">
                <div class="player__record-container">
                    <img src="/public/images/player_record.png" class="player__record">
                </div>
                <img src="/public/images/player_light.png" class="player__light">
                <img src="/public/images/player_knob.png" class="player__knob">
                <img src="/public/images/player_arm.png" class="player__arm">
            </div>
        </div>

        <div class="hero">
            <div class="container">
                <h1 class="hero__headline">
                    <object class="logo" data="/public/images/logo.svg" type="image/svg+xml" alt="Henrik's vinyl collection"></object>
                </h1>
                <h2 class="hero__subheadline">I recently started collecting vinyls.<br>I don’t have many but these are the ones I got so far.</h2>
            </div>
        </div>

        <div class="container">
            <ul class="albumList">
                <div class="albumList__inner">
                    <li class="albumList__item">
                        <div class="albumList__content">
                            <div class="albumList__badge">New</div>
                            <img src="/public/images/albums/black_sabbath-paranoid.png" class="albumList__thumb-image" alt="X">
                            <h3 class="albumList__headline">Paranoid</h3>
                            <p class="albumList__subheadline">Black Sabbath</p>
                        </div>
                    </li>
                    <li class="albumList__item">
                        <div class="albumList__content">
                            <div class="albumList__badge">New</div>
                            <img src="/public/images/albums/lep_zeppelin-ii.png" class="albumList__thumb-image" alt="X">
                            <h3 class="albumList__headline">II</h3>
                            <p class="albumList__subheadline">Led Zeppelin</p>
                        </div>
                    </li>
                    <li class="albumList__item">
                        <div class="albumList__content">
                            <img src="/public/images/albums/neil_young-time_fades_away.png" class="albumList__thumb-image" alt="X">
                            <h3 class="albumList__headline">Time fades away</h3>
                            <p class="albumList__subheadline">Neil Young</p>
                        </div>
                    </li>
                    <li class="albumList__item">
                        <div class="albumList__content">
                            <img src="/public/images/albums/anthrax-among_the_living.png" class="albumList__thumb-image" alt="X">
                            <h3 class="albumList__headline">Among the living</h3>
                            <p class="albumList__subheadline">Anthrax</p>
                        </div>
                    </li>
                    <li class="albumList__item">
                        <div class="albumList__content">
                            <img src="/public/images/albums/black_sabbath-sabbath_bloody_sabbath.png" class="albumList__thumb-image" alt="X">
                            <h3 class="albumList__headline">Sabbath bloody sabbath</h3>
                            <p class="albumList__subheadline">Black Sabbath</p>
                        </div>
                    </li>
                    <li class="albumList__item">
                        <div class="albumList__content">
                            <img src="/public/images/albums/neil_young-american_stars_n_bars.png" class="albumList__thumb-image" alt="X">
                            <h3 class="albumList__headline">American stars 'n bars</h3>
                            <p class="albumList__subheadline">Neil Young</p>
                        </div>
                    </li>
                    <li class="albumList__item">
                        <div class="albumList__content">
                            <img src="/public/images/albums/super_tramp-crime_of_the_century.png" class="albumList__thumb-image" alt="X">
                            <h3 class="albumList__headline">Crime of the century</h3>
                            <p class="albumList__subheadline">Supertramp</p>
                        </div>
                    </li>
                    <li class="albumList__item">
                        <div class="albumList__content">
                            <img src="/public/images/albums/neil_young-landing_on_water.png" class="albumList__thumb-image" alt="X">
                            <h3 class="albumList__headline">Landing on water</h3>
                            <p class="albumList__subheadline">Neil Young</p>
                        </div>
                    </li>
                    <li class="albumList__item">
                        <div class="albumList__content">
                            <img src="/public/images/albums/neil_young-hawks_doves.png" class="albumList__thumb-image" alt="X">
                            <h3 class="albumList__headline">Hawks & doves</h3>
                            <p class="albumList__subheadline">Neil Young</p>
                        </div>
                    </li>
                    <li class="albumList__item">
                        <div class="albumList__content">
                            <img src="/public/images/albums/pink_floyd-piper_at_the_gates_of_dawn.png" class="albumList__thumb-image" alt="X">
                            <h3 class="albumList__headline">Piper at the gates of dawn</h3>
                            <p class="albumList__subheadline">Pink Floyd</p>
                        </div>
                    </li>
                    <li class="albumList__item">
                        <div class="albumList__content">
                            <img src="/public/images/albums/black_sabbath-black_sabbath.png" class="albumList__thumb-image" alt="X">
                            <h3 class="albumList__headline">Black sabbath</h3>
                            <p class="albumList__subheadline">Black Sabbath</p>
                        </div>
                    </li>
                    <li class="albumList__item">
                        <div class="albumList__content">
                            <img src="/public/images/albums/beach_boys-made_in_usa.png" class="albumList__thumb-image" alt="X">
                            <h3 class="albumList__headline">Made in USA</h3>
                            <p class="albumList__subheadline">Beach Boys</p>
                        </div>
                    </li>
                    <li class="albumList__item">
                        <div class="albumList__content">
                            <img src="/public/images/albums/eurythmics-revenge.png" class="albumList__thumb-image" alt="X">
                            <h3 class="albumList__headline">Revenge</h3>
                            <p class="albumList__subheadline">Eurythmics</p>
                        </div>
                    </li>
                    <li class="albumList__item">
                        <div class="albumList__content">
                            <img src="/public/images/albums/dire_straits-brothers_in_arms.png" class="albumList__thumb-image" alt="X">
                            <h3 class="albumList__headline">Brothers in arms</h3>
                            <p class="albumList__subheadline">Dire Straits</p>
                        </div>
                    </li>
                    <li class="albumList__item">
                        <div class="albumList__content">
                            <img src="/public/images/albums/magnus_uggla-den_doende_dandyn.png" class="albumList__thumb-image" alt="X">
                            <h3 class="albumList__headline">Den döende dandyn</h3>
                            <p class="albumList__subheadline">Magnus Uggla</p>
                        </div>
                    </li>
                    <li class="albumList__item">
                        <div class="albumList__content">
                            <img src="/public/images/albums/elo-out_of_the_blue.png" class="albumList__thumb-image" alt="X">
                            <h3 class="albumList__headline">Out of the blue</h3>
                            <p class="albumList__subheadline">Electric Light Orchestra</p>
                        </div>
                    </li>
                    <li class="albumList__item">
                        <div class="albumList__content">
                            <img src="/public/images/albums/motley_crue-dr_feelgood.png" class="albumList__thumb-image" alt="X">
                            <h3 class="albumList__headline">Dr Feelgood</h3>
                            <p class="albumList__subheadline">Mötley Crüe</p>
                        </div>
                    </li>
                    <li class="albumList__item">
                        <div class="albumList__content">
                            <img src="/public/images/albums/simon_garfunkel-the_concert_in_central_park.png" class="albumList__thumb-image" alt="X">
                            <h3 class="albumList__headline">The concert in central park</h3>
                            <p class="albumList__subheadline">Simon & Garfunkel</p>
                        </div>
                    </li>
                </div>
            </ul>
        </div>

        <% include ../partials/footer %>
        <% include ../partials/scripts %>
    </body>
</html>
