.hero {
    margin-bottom: 140px;
    text-align: center;
}

.logo { margin-bottom: 20px; }

.hero__headline {
    margin-bottom: 10px;
    color: $white;
    font-size: 23px;
}

@media (min-width: $grid-md) {
    .hero__headline {
        margin-bottom: 15px;
        font-size: 42px;
    }
}

.hero__subheadline {
    font-family: $font-family-base;
    font-weight: normal;
    color: $text-color-secondary;
    line-height: 37px;
}

@media (min-width: $grid-md) {
    .hero__subheadline {
        font-size: 26px;
    }
}
