// Album list
.albumList {
    margin-bottom: 50px;

    a {
        color: $text-color;
        text-decoration: none;
    }
}

.albumList__inner {
    display: flex;
    flex-wrap: wrap;
}

.albumList__item {
    width: 100%;
    margin-bottom: 65px;
}

.albumList__content {
    position: relative;
    margin: 0 auto;
    width: 320px;
}

.albumList__badge {
    position: absolute;
    top: -20px;
    left: 6px;
    width: 44px;
    height: 44px;
    @include rotate(-15deg);
    background: url(/public/images/badge.svg);
    background-size: 44px 44px;
    line-height: 44px;
    font-family: $font-family-base;
    font-size: 13px;
    font-weight: bold;
    color: $dark-purple;
    text-transform: uppercase;
    text-align: center;
}

.albumList__thumb-image { width: 320px; }

.albumList__headline {
    margin: 14px 0 5px;
    padding-left: 26px;
    font-size: 24px;
}

.albumList__subheadline {
    padding-left: 26px;
    font-family: $font-family-base;
    font-size: 19px;
    color: $text-color-secondary;
}

@media (min-width: $grid-sm) {
    .albumList__inner {
        margin: 0 auto;
        width: 511px;
    }

    .albumList__item {
        width: 320px;
        margin-right: 20px;

        &:nth-child(2n) { margin-right: 0;}
    }
}

@media (min-width: $grid-md) {
    .albumList__inner { width: 765px; }

    .albumList__item {
        &:nth-child(2n) { margin-right: 20px;}
        &:nth-child(3n) { margin-right: 0;}
    }
}

@media (min-width: $grid-lg) {
    .albumList__inner { width: 1019px; }

    .albumList__item {
        &:nth-child(2n) { margin-right: 20px;}
        &:nth-child(3n) { margin-right: 0;}
    }
}
