// Reset the box-sizing
*,
*:before,
*:after {
    @include box-sizing(border-box);
}

body {
    font-family: $font-family-base;
    font-size: $font-size-base;
    line-height: $line-height-base;
    color: $text-color;
    background-color: $body-bg;
    @include gradient-vertical($dark-purple, $purple, 0%, 20%);
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-family-headline;
    font-weight: bold;
}

a { color: $link-color; }
a:hover { text-decoration: none; }
