// Colors
$white: #fff;
$gray: #606482;
$gray-2: #C3C6D9;
$gray-3: #9697A2;
$gray-4: #EAECFA;

$red: #EF6464;
$darkBlue: #22253D;

$link-color: #006dff;

$text-color: $darkBlue;
$text-color-secondary: $gray;
$body-bg: $white;

$figcaption: $gray-3;

// Typography
$font-family-headline: 'Poppins', sans-serif;
$font-family-base: 'Crimson Text', serif;
$font-family-secondary: 'Karla', sans-serif;

$font-size-base: 19px;
$line-height-base: 27px;

$font-size-base-lg: 23px;
$line-height-base-lg: 34px;

// Elements
$border-radius: 2px;
$border-color: $gray-4;

// Media queries
$grid-sm: 521px;
$grid-md: 775px;
$grid-lg: 1029px;
